.modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(213, 192, 183, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 1000;
    &.active {
        display: flex;
    }
    form {
        width: 850px;
        background: #FFFAF8;
        border-radius: 20px;
        padding: 130px 165px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        display: none;
        &.active {
            display: flex;
        }
        .close {
            position: absolute;
            cursor: pointer;
            right: 15px;
            top: 15px;
            width: 30px;
            height: 30px;
            background: #F5ECE7;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 20px;
                height: 20px;
            }
        }
        h1.title {
            font-weight: 600;
            font-size: 40px;
            line-height: 47px;
            text-transform: uppercase;
            color: #301606;
        }
        input {
            background: #FFFFFF;
            border: 1px solid #46220A;
            border-radius: 50px;
            padding: 17px 35px;
            width: 100%;
            margin-top: 20px;
            transition: all 0.3s ease;
        }
        .select {
            position: relative;
            width: 100%;
            &::after {
                position: absolute;
                content: url(../img/arrow-down.svg);
                right: 25px;
                top: 50%;
                transform: rotate(180deg) translateY(50%);
                width: 20px;
            }
        }
        span {
            width: 90%;
            margin: 15px 0 5px;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            text-align: left;
            color: #301606;
            text-align: left;
        }
        select {
            background: #fff;
            border: 1px solid #46220a;
            border-radius: 50px;
            padding: 17px 35px;
            width: 100%;
            transition: all .3s ease;
            appearance: none;
        }
        .btn {
            margin-top: 20px;
        }
        &.succses {
            padding: 280px 10px;
            img.succ {
                position: absolute;
                top: 150px;
                right: 50%;
                transform: translate(50%, 0%);
            }
            .succses__bg {
                position: absolute;
                top: 0;
            }
        }
        h2.title {
            font-weight: 600;
            font-size: 38px;
            line-height: 44px;
            text-align: center;
            text-transform: uppercase;
            color: #301606;
            text-align: center;
        }
        h3.sub-title {
            font-weight: 600;
            font-size: 22px;
            line-height: 25px;
            text-align: center;
            text-transform: uppercase;
            color: #301606;
            text-align: center;
        }
    }
}